.header {
  background: #eeeeee;
  color: $header-color;
  height: $nav-space;
  width: $fullp;
  flex: $none;
  width: $fullp;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: $center;
  align-items: $center;
  position: relative;
  z-index: 1000;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 10px 16px;
}

.header1 {
  background: #eeeeee;
  padding: 10px 16px;
  color: $header-color;
  height: $nav-space;
  width: $fullp;
  flex: $none;
  width: $fullp;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: $center;
  align-items: $center;
  position: relative;
  z-index: 1000;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}
